* {
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.copyright {
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
}

html, body {
    margin: 5px;
    border: 0;
    padding: 0;
    background-color: #fff;
}

.image1 {    
    width: 100%;
    height: 571px;
    padding: 60px;
    background-image: url(./Images/Image1.png);
}

.image1Text {
    width: 60%;
    min-width: 450px;
    height: 100%;
    position: relative;    
}

.image1TextBack {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image1TextTitle {
    display: inline;
    width: 372px;
    height: 137px;    
    background-image: url(./Images/Title.png);
}

li {
    display: inline;
    margin-right: 10px;
}

.logo {
    width: 150px;
    height: 114px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
}

main {
}

.ourClients {
    text-align: center;
    font: Arial;
    font-size: 38px;
    font-weight: bold;
}

.ourClientsLogo {
    margin-right: 40px;
}

.ourClientsLogos {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.whoWeAre {
    padding: 80px;
}

.whoWeAreImage {
    width: 50%;
    height: 800px;
    float: left;
    background-image: url(./Images/Image2.png);
    background-size: cover;
}

.whoWeAreText {
    width: 50%;
    height: 800px;
    float: left;
    background-color: #E2EFF2;
    text-align: center;    
}

.whoWeAreTextTitle {    
    font: Verdana;
    font-size: 28px;
    font-weight: bold;
}

.whoWeAreTextMessage {    
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
    font: Arial;
    font-size: 18px;    
}

@media screen and (max-width: 600px) {
    html, body {
        margin: 0px;
    }

    .image1 {
        height: 343px;
        background-image: url(./Images/Image1Small.png);
        background-size: cover;
    }

    .image1Text {
        min-width: 300px;
    }

    .image1TextTitle {
        display: inline;
        width: 190px;
        height: 72px;
        background-image: url(./Images/TitleSmall.png)
    }

    .logo {
        display: block;
        width: 50px;
        height: 38px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .whoWeAre {
        padding: 0px;
    }

    .whoWeAreImage {
        height: 400px;
        width: 100%;
        float: initial;
    }

    .whoWeAreText {
        height: 400px;
        width: 100%;
        float: initial;
    }
}